<a href="https://colab.research.google.com/github/Praneeth-Prayaga32/pythontraininglogicworks/blob/main/Logicworks_phase_2_03_07_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s="lokesh it"
print(s[-2])
print(s[-5])
print(s[::1])
print(s[::2])
print(s[-2:-5])
print(s[2:])
print(s[:6])
print(s[:6])
print(s[-9:-1:2])
print(s[::-1])
print(s[::1][::2])#common characters in both expressions are printed
print(s[::1][::2][::3])
print(s[2:-2])#converts -2 into positive substitute(7)
print(s[3:-3])
print(s[-4:])
print(s[:-2])

i
s
lokesh it
lks t

kesh it
lokesh
lokesh
lks
ti hsekol
lks t
l
kesh
esh
h it
lokesh

In [ ]:
l=[1,2,3,4,5]
l1=[]
i=0
while(i<len(l)):
  l1.append(l.pop())
print(l1)

[5, 4, 3, 2, 1]

In [ ]:
#Without list functions
l=[1,2,3,4,5,6,7,8,9,10]
l1=[]
i=0
while(i<(len(l)//2)):
  temp = l[i]
  l[i] = l[len(l)-(i+1)]
  l[len(l)-(i+1)]=temp
  i=i+1
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
s=[3,1,2,"krishna","anil","sravya",5,7,4,"bharath","ramu","cat",12,9]
ls=[]
li=[]
for i in s:
  if type(i) is str:
    ls.append(i)
  elif type(i) is int:
    li.append(i)
ls.sort()
li.sort()
print(ls)
print(li)
print(li+ls)

['anil', 'bharath', 'cat', 'krishna', 'ramu', 'sravya']
[1, 2, 3, 4, 5, 7, 9, 12]
[1, 2, 3, 4, 5, 7, 9, 12, 'anil', 'bharath', 'cat', 'krishna', 'ramu', 'sravya']

In [ ]:
N = int(input())
l1=[]
l=[]
li=[]
for i in range(N):
      cmd=input()
      l1=cmd.split()
      l.append(l1)
for i in range(len(l)):
      if(l[i][0]=='insert'):
          li.insert(int(l[i][2]),int(l[i][1]))
      elif(l[i][0]=='print'):
          print(li)
      elif(l[i][0]=='remove'):
          li.remove(int(l[i][1]))
      elif(l[i][0]=='append'):
          li.append(int(l[i][1]))
      elif(l[i][0]=='sort'):
          li.sort()
      elif(l[i][0]=='pop'):
          li.pop()
      elif(l[i][0]=='reverse'):
          li.reverse()

4
append 1
append 2
insert 3 1
print
[1, 3, 2]

In [ ]:
import math
print (math.factorial(5))

120

In [ ]:
s=[10,12,2,5,20,15,20,11,2,8]
s.sort()
print(s)
r=max(s)
d=s.count(r)
print("second max: ",s[-(d+1)])
r=min(s)
d=s.count(r)
print("second min: ",s[d])

[2, 2, 5, 8, 10, 11, 12, 15, 20, 20]
second max:  15
second min:  5

In [ ]:
s=[10,12,2,5,20,15,20,11,2,8]
s.sort()
min=s[0]
max=s[-1]
i=1
while(min==l[i]):
  i+=1
print(s[i])
j=-1
while(max==l[j]):
  j-=1
print(s[j])

5
15

In [ ]:
s=[10,5,20,3,20,30,20,2,1]
d=int(input("Enter element to delete: "))
l=s.count(d)
for i in range(l):
  s.remove(d)
print(s)

Enter element to delete: 1
[10, 5, 20, 3, 20, 30, 20, 2]

In [ ]:
s=[1,2,3,3,2,1,4,45,56]
ul=[]
for p in s:
  if p not in ul:
    ul.append(p)
  else:
    print(p)

3
2
1

In [ ]:
print(list(ele for ele in range (21) if ele%2==0))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
print(list(ele for ele in range (0,21,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
print(list(ele*ele for ele in range(30,50) if ele%2!=0))

[961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [ ]:
a,b,c=map(int,input().split())
print("a: ",a,"b: ",b,"c: ",c)

1 2 3
a:  1 b:  2 c:  3

In [ ]:
li=[]
l=input().split()
for i in range(len(l)):
  li.append(int(l[i]))
print (li)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [ ]:
s=[[0,0,0],[0,0,0],[0,0,0]]
for p in range(len(s)):
  for q in range(len(s[p])):
      s[p][q]=int(input("Enter value: "))
print(s)

Enter value: 1
Enter value: 2
Enter value: 3
Enter value: 4
Enter value: 5
Enter value: 6
Enter value: 7
Enter value: 8
Enter value: 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(s[2])
print(s[-2])
print(s[2][1])
print(s[-2][-1])
print(s[-2][-3])
print(s[0][-3])

[7, 8, 9]
[4, 5, 6]
8
6
4
1

In [ ]:
s=[[1,2,3],[4,5,6],[7,8,9]]
for p in range(len(s)):
  sum=0
  for q in range(len(s[p])):
      sum=sum+s[p][q]
  print(sum)

6
15
24

In [ ]:
s=[[1,2,3],[4,5,6],[7,8,9]]
for p in range(len(s)):
  sum=0
  for q in range(len(s[p])):
      sum=sum+s[q][p]
  print(sum)

12
15
18

In [ ]:
s=[[0,0,0],[0,0,0],[0,0,0]]
for p in range(len(s)):
  for q in range(len(s[p])):
      s[p][q]=int(input("Enter value: "))
print(s)
s1=[[0,0,0],[0,0,0],[0,0,0]]
for p in range(len(s1)):
  for q in range(len(s[p])):
      s1[p][q]=int(input("Enter value: "))
print(s1)
sum=[[0,0,0],[0,0,0],[0,0,0]]
for p in range(len(s1)):
  for q in range(len(s[p])):
      sum[p][q]=s[p][q]+s1[p][q]
print(sum)

Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
[[1, 1, 1], [1, 1, 1], [1, 1, 1]]
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
[[2, 2, 2], [2, 2, 2], [2, 2, 2]]
[[3, 3, 3], [3, 3, 3], [3, 3, 3]]

In [ ]:
s=[[0,0,0],[0,0,0],[0,0,0]]
for p in range(len(s)):
  for q in range(len(s[p])):
      s[p][q]=int(input("Enter value: "))
print(s)
sum=[[0,0,0],[0,0,0],[0,0,0]]
s1=[[0,0,0],[0,0,0],[0,0,0]]
for p in range(len(s1)):
  for q in range(len(s[p])):
      s1[p][q]=int(input("Enter value: "))
      sum[p][q]=s[p][q]-s1[p][q]
print(s1)
print(sum)

Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
Enter value: 1
[[1, 1, 1], [1, 1, 1], [1, 1, 1]]
Enter value: 1
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
Enter value: 2
[[1, 2, 2], [2, 2, 2], [2, 2, 2]]
[[0, -1, -1], [-1, -1, -1], [-1, -1, -1]]

In [ ]:
sum=0
s1=[[0,0,0],[0,0,0],[0,0,0]]
for p in range(len(s1)):
  for q in range(len(s[p])):
      s1[p][q]=int(input("Enter value: "))
print(s1)
for p in range(len(s1)):
  for q in range(len(s[p])):
    if(p==q):
      sum=sum+s1[p][p]
print(sum)

Enter value: 1
Enter value: 0
Enter value: 0
Enter value: 0
Enter value: 1
Enter value: 0
Enter value: 0
Enter value: 0
Enter value: 1
[[1, 0, 0], [0, 1, 0], [0, 0, 1]]
3

In [ ]:
s=[[1,2],[3,4]]
for i in range(len(s)):
  for j in range(len(s[i])-1,-1,-1):
    print(s[i][j],end=" ")
  print()

2 1
4 3

In [ ]:
#sparse matrix
s=[[1,0,0],[0,3,4],[1,8,7]]
n0=0
rs=0
cs=0
for p in range(len(s)):
  rs=rs+1
  for q in range(len(s[p])):
    cs=cs+1
    if(s[p][q]==0):
      n0=n0+1
    else:
      nn0=nn0+1
cs=cs//rs
print(rs,cs)
sp=(rs*cs)//2
if(n0>sp):
  print("Sparse matrix ")
else:
  print("not sparse matrix")
  #to find row size: len(s), to find column size: len(s[0])

3 3
not sparse matrix

In [ ]:
s=[[1,0,0],[0,3,4],[1,8,7]]
for i in range(len(s)):
  for j in range(len(s[0])):
    s[i][j]=s[j][i]
print(s)

[[1, 0, 1], [0, 3, 8], [1, 8, 7]]

In [ ]:
s={"Krishna":{"C":56,"Python":78,"Java":86},
   "Raju":{"C":50,"Python":72,"Java":82},
   "Kishore":{"C":51,"Python":73,"Java":81}}
for p,q in s.items():
  print(p)
  print("----------")
  for a,b in q.items():
    print(b)
  print("\n")

Krishna
----------
56
78
86


Raju
----------
50
72
82


Kishore
----------
51
73
81

In [ ]:
l=["krishna","raju","rani","saritha","srivalli","sita","ramya"]
d={p:len(p) for p in l if (len(p)%2!=0)}
print(d)

{'krishna': 7, 'saritha': 7, 'ramya': 5}

In [ ]:
s={"krishna":35,"Raju":46,"saritha":58,"shobana":79}
d={p:q for p,q in s.items() if(q%2==0)}
print(d)

{'Raju': 46, 'saritha': 58}

In [ ]:
s={'a':10,'b':20}
s.update({'c':30 , 'd':40})
print(s)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
l1=['a','b','c','d']
l2=[1,2,3,4]
d=dict(zip(l1,l2))
print(d)

In [ ]:
s=["Krishna","raju","Krishna","saritha","raju","shobana","manoj"]
f={}
f={p:s.count(p) for p in s}
print(f)

{'Krishna': 2, 'raju': 2, 'saritha': 1, 'shobana': 1, 'manoj': 1}

In [ ]:
l=[]
le=[]
lo=[]
s=int(input())
for i in range(s):
  l.append(int(input()))

  if(l[i]%2==0):
    le.append(l[i])
  else:
    lo.append(l[i])
print(le)
print(lo)

6
1
3
2
5
7
2
[2, 2]
[1, 3, 5, 7]

In [ ]:
s=lambda x:x%2==0
l=[1,2,3,4,5]
r=[p for p in l if s(p)]
print(r)

[2, 4]

In [ ]:
s=lambda x:x%2==0
print(list(i for i in range(30,50) if s(i)))

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
s=lambda x:x*x
print(list(s(p) for p in range(1,10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def operations (a,b,s):
  r=s(a,b)
  return r
a=operations(10,20,lambda a,b:a+b)
b=operations(10,20,lambda a,b:a-b)
c=operations(10,20,lambda a,b:a*b)
d=operations(10,20,lambda a,b:a/b)
print(a,b,c,d)

30 -10 200 0.5

In [ ]:
#nested funtion:
#a function within another function is called as nested function
#in closures outer function can be used even outer function execution is completed also
def power(p):
  def pow(n):
    return p**n
  return pow
s=power(5)
r=s(3)
print(r)
print(s)
d=power(6)
r=d(2)
print(r)

125
<function power.<locals>.pow at 0x7fc7b98d5a20>
36

In [ ]:
from functools import reduce
l=[1,2,3,4,5]
sum=reduce(lambda a,b:a+b,l)
print(sum)

15

In [ ]:
from functools import reduce
l=[2,4,3,5,1]
max=reduce(lambda a,b:a if a>b else b,l)
print(max)
from functools import reduce
l=[2,4,3,5,1]
min=reduce(lambda a,b:a if a<b else b,l)
print(min)

5
1

In [ ]:
#5-07-2023
a=[[1,1,1],[1,1,1],[1,1,1]]
b=[[1,1,1],[1,1,1],[1,1,1]]
c=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(a)):
  for j in range(len(a[i])):
    c[i][j]=a[i][j]

1

In [ ]:
#Decorator is a special function
#decorator function receives input as one function and returns another function as an output
#a function returning another function usually applied as a function transformation using the @wrapper syntax
#decorators are used to add new features to the existing function or extending the functionality of existing system without modifying it
#decorators can be developed irrespective of the functionality
def draw_line(d):
  def new_display():
    print("*"*30)
    d()
    print("*"*30)
  return new_display
@draw_line
def display():
  print("Python programming")
display()

SyntaxError: ignored

In [ ]:
def new_division(d):
  def div(a,b):
    if(b==0):
      return 0
    else:
      return d(a,b)
  return div
@new_division
def divisible(a,b):
  c=a/b
  return c
s=divisible(10,0)
print(s)

0

In [ ]:
#filter and map function
#filter is purely based on the condition but map is purely based on the expression
def even_odd(n):
  return (n%2==0)
s=[10,12,15,32,17,21,45]
r=list(filter(even_odd,s))
print(r)
rl=list(filter(lambda x:x%2==0,s))
print(rl)

[10, 12, 32]
[10, 12, 32]

In [ ]:
s=["AAA","aaa","abc","ABC","xyz","XYZ"]
r=list(filter(lambda x:x.isupper(),s))
print(r)

['AAA', 'ABC', 'XYZ']

In [ ]:
s=[1,-1,30,-30,45,-9]
r=tuple(filter(lambda x:x<0,s))
print(r)

(-1, -30, -9)

In [ ]:
s=[1,-1,30,-30,45,-9]
r=tuple(map(lambda x:x*x,s))
print(r)

(1, 1, 900, 900, 2025, 81)

In [ ]:
s=[1,2,3,4,5,6]
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)
import math
r= list(map(fact,s))
rl=list(map(math.factorial,s))
print(r)
print(rl)

[1, 2, 6, 24, 120, 720]
[1, 2, 6, 24, 120, 720]

In [ ]:
s="APPLE"
for p in s:
  x=ord(p)
  r=chr(x+1)
  print(r,end="")

BQQMF

In [ ]:
#bit manipulations
print(100 and 200)
print(100>0 and 200)
print(100 and 200 or 300)

200
200
200

In [ ]:
#bitwise operators
x=14
y=12
print (bin(x&y))
print(x|y)
x=9
y=4
print(x^y)

0b1100

13

In [ ]:
x=int(input())
y=int(input())
x=x^y
y=x^y
x=x^y
print(x,y)

2
3
3 2

In [ ]:
x=int(input())
y=str(bin(x))
if (y.count('1')==1):
  print(True)
else:
  print(False)

45
False

In [ ]:
x=int(input())
def ispower(x):
  return x and not(x&(x-1))
s=ispower(x)
print(s)

4
True

In [ ]:
x=int(input())
def ispower(x):
  if (x==0):
    return False
  else:
    while(x!=1):
      x=x/2
      while(x%2!=0 and x!=1):
        return False
  return True
s=ispower(x)
print(s)

1
True

In [ ]:
#left shift operator- in left shift operation, we have to add 0 in right most position then all values will move towards left side
#after the left shift operation, value will become double
#shortcut for answer verification- x*2^n, x=number , n= no.of shifts for 8<<3, 8*2^3
x=int(input())
def count1(x):
  count=0
  while(x):
    x=x&(x-1)
    count+=1
  return count
s=count1(x)
print(s)

7
3

In [ ]:
def check(n,i):
  if(n&(1<<(i))):
    return True
  else:
    return False
n=int(input())
i=int(input())
s=check(n,i)
print(s)

14
3
True

In [ ]:
n=int(input())
i=int(input())
print((1<<i)|n)

4
0
5

In [ ]:
n=int(input())
i=int(input())
n=n&(~(1<<i))
print(n)

15
2
11

In [ ]:
n=int(input())
i=int(input())
n=n^(1<<i)
print(n)

4
2
0

In [ ]:
n=int(input())
print(~(-n))

4
3

In [ ]:
#finding one's complement of a number
n=15
a=~n
print(a)

-16

In [ ]:
#Object oriented programming
#in procedure oriented programming we are missing the security for our data
#we can achieve the security with the help of object oriented programming
#object oriented concepts are class, object, encapsulation, inheritance, abstraction,polymorphism and interfaces
# class- class is a container which contains the data and related operations in a single entity
#class is a collection of data and related operations
#data can be represented through variables
#operations can be represented through methods
#within a class we can define 3 types of variables - 1. non static variable,2. static variable ,3. local variable
#we can define 3 types of methods within a class,1. static method, 2. non-static method, 3.class method"
#object- object is instance of class
#by creating object memory will be alloted for the data members of a class.
#static variable- we can declare static variable within a class and outside of all methods
#we can access the static variable within a class using the class name and outside of a class also using a class name
#if the data is common to all objects, we can declare that variable as static variable

In [ ]:
class test:
  a=1000
  b=2000
  def display(self):
    print(test.a,test.b)
  def update(self):
    test.a=test.a+100
    test.b=test.b+200
t1=test()
print(t1.a,t1.b)
t1.a=t1.a+10
t1.b=t1.b+20
print(t1.a,t1.b)
t1.display()
t1.update()
t1.display()
print(test.a,test.b)

1000 2000
1010 2020
1000 2000
1100 2200
1100 2200

In [ ]:
#static variable
class test:
  a=1000
  b=2000
  def display(self):
    print(test.a,test.b)
  def update(self):
    test.a=test.a+100
    test.b=test.b+200
t1=test()
print(t1.a,t1.b)
test.a=test.a+10
test.b=test.b+20
print(t1.a,t1.b)
t1.display()
t1.update()
t1.display()
print(test.a,test.b)

1000 2000
1010 2020
1010 2020
1110 2220
1110 2220

In [ ]:
#non static variables are declared within a class and within a method
#we can access a non static variables within a class by using self keyword
#we can access a non static variable outside a class by using reference variable name or object name
#for non static variables, memory is alloted when object is created

In [ ]:
#non static variable
class test:
  def insert(self):
    self.a=100
    self.b=200
  def display(self):
    print(self.a,self.b)
  def update(self):
    self.a=self.a+10
    self.b=self.b+20
t1=test()
t1.insert()
print(t1.a,t1.b)
t1.display()
t1.update()
print(t1.a,t1.b)

100 200
100 200
110 220

In [ ]:
#constructor- it is a special type of method and the method does not have any name
#in python programming, we can define a constructor with the help of __init__
#we have 2 types of costructors- default constructor, parameterized constructor

In [ ]:
class test:
  def __init__(self):
    self.a=100
    self.b=200
  def display(self):
    print(self.a,self.b)
t1=test()
t1.display()
t2=test()
t2.display()

100 200
100 200

In [ ]:
class test:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def display(self):
    print(self.a,self.b)
t1=test(10,20)
t1.display()
t2=test(30,40)
t2.display()

10 20
30 40

In [ ]:
class student:
  cname="GVPT"
  def __init__(self,name,rno,s1,s2,s3):
    self.name=name
    self.rno=rno
    self.s1=s1
    self.s2=s2
    self.s3=s3
  def display(self):
    print(student.cname,self.name,self.rno,self.s1,self.s2,self.s3)
  def display_result(self):
    if((self.s1>35)and (self.s2>35)and (self.s3>35)):
      total=self.s1+self.s2+self.s3
      avg=total/3
      if(avg>=70):
        print("Distinction")
      elif(avg>=60):
        print("First Class")
      elif(avg>=50):
        print("Second Class")
      elif(avg>=40):
        print("Third Class")
    else:
      print(self.name,"you are failed")
n=int(input("enter the number of students:"))
i=1
while(i<=n):
  print("****************************")
  name=input("Enter your name: ")
  rno=input("Enter your rno: ")
  s1,s2,s3=map(int,input("Enter the 3 marks").split(","))
  d=student(name,rno,s1,s2,s3)
  d.display()
  d.display_result()
  print("*****************************")
  i=i+1

enter the number of students:3
****************************
Enter your name: Praneeth
Enter your rno: 1
Enter the 3 marks70,80,60
GVPT Praneeth 1 70 80 60
Distinction
*****************************
****************************
Enter your name: sakina
Enter the 3 marks69,69,69
GVPT sakina sakina 69 69 69
First Class
*****************************
****************************
Enter your name: haarika
Enter your rno: 3
Enter the 3 marks100,100,100
GVPT haarika 3 100 100 100
Distinction
*****************************

In [ ]:
class Bank:
  bname="GVPT"
  def __init__(self,name,acno,bal):
    self.name=name
    self.acno=acno
    self.bal=bal
  def display(self):
    print(Bank.bname,self.name,self.acno,self.bal)
  def display_result(self):
    if((self.bal>2000)):
      print("You have sufficient balance")
      choice=int(input("Enter the operation you want to perform: 1. deposit,2. withdraw, 3.diplay_bal,4.exit"))
      while(choice<4):
        if(choice==1):
          amount=int(input("Enter amount to deposit: "))
          self.deposit(amount)
          choice=int(input("Enter next choice"))
          self.display_result()
        elif(choice==2):
          amount=int(input("Enter amount to withdraw: "))
          self.withdraw(amount)
          choice=int(input("Enter next choice"))
          self.display_result()
        elif(choice==3):
          self.display()
          choice=int(input("Enter next choice"))
          self.display_result()
        else:
          print("enter correct choice")
    else:
      print("not enough funds")
  def deposit(self,amount):
    self.bal=self.bal+amount
    print(self.bal)
  def withdraw(self,amount):
    self.bal=self.bal-amount
    print(self.bal)
n=int(input("enter the number of accounts:"))
i=1
while(i<=n):
  print("****************************")
  name=input("Enter your name: ")
  acno=input("Enter your acno: ")
  bal=int(input("enter your bal"))
  d=Bank(name,acno,bal)
  d.display()
  d.display_result()
  print("*****************************")
  i=i+1

enter the number of accounts:1
****************************
Enter your name: Praneeth
Enter your acno: 1
enter your bal5000
GVPT Praneeth 1 5000
You have sufficient balance
Enter the operation you want to perform: 1. deposit,2. withdraw, 3.diplay_bal,4.exit1
Enter amount to deposit: 200
5200
Enter next choice2
You have sufficient balance
Enter the operation you want to perform: 1. deposit,2. withdraw, 3.diplay_bal,4.exit2
Enter amount to withdraw: 400
4800
Enter next choice4
You have sufficient balance
Enter the operation you want to perform: 1. deposit,2. withdraw, 3.diplay_bal,4.exit4

KeyboardInterrupt: ignored

In [ ]:
class Bank:
    bname="LUNCHBREAK"
    def __init__(self,name,accno,balance):
        self.name=name
        self.accno=accno
        self.balance=balance
    def display(self):
        print(Bank.bname,self.name,self.accno,self.balance)
    def bal(self):
        if(self.balance>=2000):
            print(self.balance)
        else:
            print(self.balance,"Minimum funds to be mainted please maintain")
    def withdraw(self):
        amount=int(input(" amount to be withdrawn"))
        if(self.balance<2000):
            print("Minimum sufficients to be maintained")
        elif(amount>self.balance):
            print("Not sufficient funds")
        else:
            if((self.balance-amount)>=2000):
                self.balance=self.balance-amount
            else:
                print("2000 to be maintained")
    def deposit(self):
        amount=int(input("amount to be deposited"))
        self.balance=self.balance+amount

name=input("Name: ")
accno=int(input("AccNo: "))
balance=int(input("Balance: "))
b=Bank(name,accno,balance)
print("1.display \n 2.deposit \n 3.balance \n 4.withdraw")
i=int(input("Enter option"))
while(i!=0):
    if(i==1):
        b.display()
    if(i==2):
        b.deposit()
    if(i==3):
        b.bal()
    if(i==4):
        b.withdraw()
    print("1.display \n 2.deposit \n 3.balance \n 4.withdraw \n 0. Exit")
    i=int(input("Enter option"))

Name: Praneeth
AccNo: 1
Balance: 4000
1.display
 2.deposit
 3.balance
 4.withdraw
Enter option2
amount to be deposited200
1.display
 2.deposit
 3.balance
 4.withdraw
 0. Exit
Enter option1
LUNCHBREAK Praneeth 1 4200
1.display
 2.deposit
 3.balance
 4.withdraw
 0. Exit

In [ ]:
#we can access the properties of one class inside another class in 2 ways, 1. has a relation,2. is a relation
#has a relation- as per has a relation,  if you want to access the properties of one class inside another class, we have to create object of one class inside another class
#inheritance- with the help of inheritance we can access the properties of one class inside another class.
#a class which is extended by another class , is known as the super class or parent class
#a class which extends the another class is called the subclass or child class
#using inheritance ,we can access the properties directly

In [ ]:
class x:
  a=1000
  def insert(self):
    self.b=2000
  def m1(self):
    print("in m1")
class y:
  c=3000
  def insert1(self):
    self.d=4000
  def m2(self):
    print("in m2:")
  def display(self):
    print(y.c)
    self.insert1()
    print(self.d)
    self.m2()
    x1=x()
    print(x.a)
    x1.insert()
    print(x1.b)
    x1.m1()
y1=y()
y1.display()

3000
4000
in m2:
1000
2000
in m1

In [ ]:
class x:
  a=1000
  def insert(self):
    self.b=2000
  def m1(self):
    print("in m1")
class y(x):
  c=3000
  def insert1(self):
    self.d=4000
  def m2(self):
    print("in m2:")
  def display(self):
    print(y.c)
    self.insert1()
    print(self.d)
    self.m2()
    print(y.a)
    self.insert()
    print(self.b)
    self.m1()
y1=y()
y1.display()

3000
4000
in m2:
1000
2000
in m1

In [ ]:
class x:
  a=1000
  def insert(self):
    self.b=2000
  def m1(self):
    print("in m1")
class y(x):
  c=3000
  def insert1(self):
    self.d=4000
  def m2(self):
    print("in m2:")
y1=y()
print(y.c)
y1.insert()
y1.insert1()
print(y1.d)
print(y.a)
print(y1.b)
y1.m1()
y1.m2()

3000
4000
1000
2000
in m1
in m2:

In [ ]:
#polymorphism-defining one thing in number of forms is called as polymorphism
#we can achielve polymorphism in two different ways- method overloading, method overriding
#method overloading is partially supported in python
#method overriding: the concept of defining multiple methods with same name with same number of
#arguments or diff number of arguments, one method is defined in subclass and another method is defined in superclass
#super class properties automatically inherited into all subclasses,if subclass does not requre the same implementation part,
#then we can override that corresponding method in the subclass

In [ ]:
class x:
  def m1(self):
    print("in m1 of x:")
  def m2(self):
    print("in m2 of x:")
class y(x):
  def m2(self):
    print("in m2 of y:")
  def m3(self):
    print("in m3 of y:")
class z(x):
  def m1(self):
    print("in m1 of z:")
  def m4(self):
    print("in m4 of z:")
y1=y()
y1.m2()
y1.m1()
p=y1.__str__()
print(p)
y1.m3()
z1=z()
z1.m1()
z1.m2()
z1.m4()
print(x.__bases__)
print(y.__bases__)

in m2 of y:
in m1 of x:
<__main__.y object at 0x7f00920d1ed0>
in m3 of y:
in m1 of z:
in m2 of x:
in m4 of z:
(<class 'object'>,)
(<class '__main__.x'>,)

In [ ]:
class x:
  def m1(self):
    print("in m1 of x:")
  def m2(self):
    print("in m2 of x:")
class y(x):
  def m2(self):
    print("in m2 of y:")
    super().m2()
  def m3(self):
    print("in m3 of y:")
class z(x):
  def m1(self):
    print("in m1 of z:")
    super().m1()
  def m4(self):
    print("in m4 of z:")
y1=y()
y1.m2()
y1.m1()
p=y1.__str__()
print(p)
y1.m3()
z1=z()
z1.m1()
z1.m2()
z1.m4()
print(x.__bases__)
print(y.__bases__)

in m2 of y:
in m2 of x:
in m1 of x:
<__main__.y object at 0x7f009213fe80>
in m3 of y:
in m1 of z:
in m1 of x:
in m2 of x:
in m4 of z:
(<class 'object'>,)
(<class '__main__.x'>,)

In [ ]:
class x:
  def __init__(self,key):
    self.key=key
  def __str__(self):
    return self.key
x1=x("Python")
p=x1.__str__()
x2=x("MPMC")
print(x2.__str__())
x3=x("Java")
print(x3.__str__())

MPMC
Java

In [ ]:
''' constructor overriding-
1.defining multiple constructors with same name, with same or different number of parameters,
one constructor will be defined in super class and another constructor will be defined in subclass.
2.always subclass constructor will be executed'''

class x:
  def __init__(self):
    print("x class  constructor:")
class y(x):
  pass
  def __init__(self):
    print("y class constructor:")
    super().__init__()
y1=y()

y class constructor:
x class  constructor:

In [ ]:
class mul:
  def __init__(self,a,b):
    '''self.a=a
    self.b=b'''
    print(a*b)
class add(mul):
  def __init__(self,a,b):
    '''self.a=a
    self.b=b'''
    print(a+b)
    super().__init__(10,2)
a=add(10,20)

30
20

In [ ]:
'''1.for static method no need to create the object
2. we can access static method directly using the class name'''
class Account:
  def __init__(self,acc_number, balance_amt):
    self.__acc_number=acc_number
    self.__balance_amount=balance_amt
    self.account_type="Saving"
  def get_acc_number(self):
    return self.__acc_number
  def get_balance_amount(self):
    return self.__balance_amount
a=Account(123456,460000)
print(a.get_acc_number(),a.account_type,a.get_balance_amount())

123456 Saving 460000

In [ ]:
class x:
  __a=10
x1=x()
print(x1.__a)

AttributeError: ignored

In [ ]:
x,y,z= map(int,input().split(" "))
if(x==y) and (y==z):
  print("equilateral;")
elif(x==y) or (y==z) or (x==z):
  print("Isosceles")
elif(x!=y)and (y!=z)and(x!=z):
  print("scalene")

3 6 9
scalene

In [ ]:
x,y=map(int,input().split())
sum=x+y
if(sum>=15 and sum <= 20):#if sum in range(15,21)
  sum=20
print(sum)

10 6
20

In [ ]:
l=input()
vowels=['a','e','i','o','u','A','E','I','O','U']
if l in vowels:
  print("vowel")
else:
  print("consonant")

a
vowel

In [ ]:
l=input()
if l.lower() in ["january","march","may","july","august","october","december"]:
  print(31)
elif l.lower() in ["april","june","september","november"]:
  print(30)
elif l.lower() in ["february"]:
  print(28)
else:
  print("Enter valid month")

MARCH
31

In [ ]:
'''Formatting-
old style:
int -> %d
float -> %f
str -> %s
octal -> %o
hexa -> %x'''
a,b=20,7
print("the sum of %d and %d is %d"%(a,b,a+b))
print("the product of %d and %d is %d"%(a,b,a*b))
print("the difference of %d and %d is %d"%(a,b,a-b))
print("the integer division of %d and %d is %d"%(a,b,a//b))
print("the float division of %d and %d is %f"%(a,b,a/b))
print("%o,%x"%(a,a))

the sum of 20 and 7 is 27
the product of 20 and 7 is 140
the difference of 20 and 7 is 13
the integer division of 20 and 7 is 2
the float division of 20 and 7 is 2.857143
24,14

In [ ]:
Name = "Krishna"
x=3.478656
print("%.2f"%(x))

3.48

In [ ]:
'''new style
int->:d
float->:f
str->:s
octal ->:o
hexa ->:x
binary ->:b'''
a,b=20,10
print("The sum of {:d} and {:d} is {:f}".format(a,b,a+b))
print("The diff of {} and {} is {}".format(a,b,a-b))

The sum of 20 and 10 is 30.000000
The diff of 20 and 10 is 10

In [ ]:
#Latest style-
a,b=20,10
print(f"The sum of {a} and {b} is {a+b}")
print(f"The diff between {a} and {b} is {a-b}")

The sum of 20 and 10 is 30
The diff between 20 and 10 is 10

In [ ]:
#new style
print("{2},{1},{0},{3},{4}".format(10,20,30,40,50))

30,20,10,40,50

In [ ]:
s=["krishna","anil","raju","suneel","prasanthi","jil","jeeva"]
print(sorted(s))
for i in range(len(s)):
  for j in range(len(s)-1):
    if(s[i]<s[j]):
      s[i],s[j]=s[j],s[i]
print(s)

['anil', 'jeeva', 'jil', 'krishna', 'prasanthi', 'raju', 'suneel']
['anil', 'jeeva', 'jil', 'krishna', 'prasanthi', 'raju', 'suneel']

In [ ]:
#Linked list
#single linked list- linked list is a collection of nodes and it is a linear data structure,
#every node will contain the 2 fields- 1- data and 2- address
#The next field will hold address of the next node
#LinkedList
#Singly linked list
class Node:
  def __init__(self,data):
    self.data=data
    self.next=None
class single:
  def __init__(self):
    self.head=None
  def display(self):
    temp=self.head
    if(self.head is None):
      print("Empty")
    else:
      while(temp):
        print(temp.data,"--->",end="")
        temp=temp.next
n1=Node(10)
s1=single()
s1.head=n1
n2=Node(20)
s1.head.next=n2
n3=Node(30)
n2.next=n3
n4=Node(40)
n3.next=n4
s1.display()

10 --->20 --->30 --->40 --->

In [ ]:
#add the node in beginning for the above code
n=Node(5)
#s1=single()
s1.head=n
n.next=n1
s1.display()

5 --->10 --->20 --->30 --->40 --->

In [ ]:
#write a program to print the node elements in reverse order
#Linked list
#single linked list- linked list is a collection of nodes and it is a linear data structure,
#every node will contain the 2 fields- 1- data and 2- address
#The next field will hold address of the next node
#LinkedList
#Singly linked list
class Node:
  def __init__(self,data):
    self.data=data
    self.next=None
class single:
  def __init__(self):
    self.head=None
  def insert_beg(self,data):
    nb=Node(data)
    nb.next=self.head
    self.head=nb
  def at_middle(self,data,pos):
    nm=Node(data)
    temp=self.head
    p=0
    for p in range(pos-1):
      temp=temp.next
    nm.next=temp.next
    temp.next=nm
  def insert_end(self,data):
    temp=self.head
    ne=Node(data)
    while(temp.next is not None):
      temp=temp.next
    temp.next=ne
  def display(self):
    temp=self.head
    if(self.head is None):
      print("Empty")
    else:
      while(temp):
        print(temp.data,"-->",end="")
        temp=temp.next
  def display_rev(self):
    l=[]
    temp=self.head
    if(self.head is None):
      print("Empty")
    else:
      while(temp):
        s=temp.data
        l.append(s)
        temp=temp.next
      print("\n",l)
      for p in range(len(l)-1,-1,-1):
        print(l[p],"-->",end="")
  def display_rev2(self):
    prev = None
    temp=self.head
    while(temp is not None):
      next=temp.next
      temp.next=prev
      prev=temp
      temp=next
    self.head=prev
n1=Node(10)
s1=single()
s1.head=n1
n2=Node(20)
s1.head.next=n2
n3=Node(30)
n2.next=n3
n4=Node(40)
n3.next=n4
s1.insert_beg(5)
s1.insert_end(50)
s1.at_middle(32,1)
s1.display()
s1.display_rev()
s1.display_rev2()
s1.display()

5 -->32 -->10 -->20 -->30 -->40 -->50 -->
 [5, 32, 10, 20, 30, 40, 50]
50 -->40 -->30 -->20 -->10 -->32 -->5 -->50 -->40 -->30 -->20 -->10 -->32 -->5 -->

In [ ]:
#Double linked list
#it is a linear data structure
#it is also a collection of nodes
#in the double linked list every node will contain 3 fields- prev node address,data and next node address
class Node:
  def __init__(self,data):
    self.data=data
    self.prev=None
    self.next=None
class double:
  def __init__(self):
    self.head=None
  def at_beg(self,data):
    nb=Node(data)
    nb.next=self.head
    self.head.prev=nb
    self.head=nb
  def at_end(self,data):
    temp=self.head
    ne=Node(data)
    while(temp.next is not None):
      temp=temp.next
    temp.next=ne
    ne.prev=temp
  def at_mid(self,data,pos):
    temp = self.head
    nm=Node(data)
    for p in range(pos-1):
      temp=temp.next
    nm.next=temp.next
    temp.next=nm
    nm.prev=temp
  def display_rev2(self):
    prev = None
    temp=self.head
    while(temp is not None):
      next=temp.next
      temp.next=prev
      prev=temp
      temp=next
    self.head=prev
  def display(self):
    temp=self.head
    if(self.head is None):
      print("Empty")
    else:
      while(temp):
        print(temp.data,"-->",end="")
        temp=temp.next
n1=Node(10)
d1=double()
d1.head=n1
n2=Node(20)
n1.next=n2
n2.prev=n1
n3=Node(30)
n2.next=n3
n3.prev=n2
n4=Node(40)
n3.next=n4
n4.prev=n3
d1.at_beg(5)
d1.at_end(50)
d1.at_mid(25,3)
d1.display_rev2()
d1.display()

50 -->40 -->30 -->25 -->20 -->10 -->5 -->

In [ ]:
#binary tree
#every tree will contain the root node,and followed by nodes, and the nodes can be left subtree and right subtree
#if the value is less than the root node, the value will go to left child node
#if the value is greater than the root node, automatically this value will go to right subnode
#if the node does not have any children, that particular node will be called as leaf node
#leaf node can be available at left side or right side

In [ ]:
#Binary tree
class Node:
  def __init__(self,data):
    self.left=None
    self.right=None
    self.data=data
  def insert(self,data):
    if(self.data):
      if(data<self.data):
        if self.left is None:
          self.left=Node(data)
        else:
          self.left.insert(data)
      elif(data>self.data):
        if(self.right is None):
          self.right = Node(data)
        else:
          self.right.insert(data)
    else:
      self.data=data
def printPreorder(root):
  if root:
    print(root.data,end=" ")
    printPreorder(root.left)
    printPreorder(root.right)
def printPostorder(root):
  if root:
    printPostorder(root.left)
    printPostorder(root.right)
    print(root.data,end=" ")
def printInorder(root):
  if root:
    printInorder(root.left)
    print(root.data,end=" ")
    printInorder(root.right)
root=Node(27)
root.insert(14)
root.insert(35)
root.insert(10)
root.insert(19)
root.insert(31)
root.insert(42)
printPreorder(root)
print()
printPostorder(root)
print()
printInorder(root)

27 14 10 19 35 31 42
10 19 14 31 42 35 27
10 14 19 27 31 35 42

In [ ]:
#write a prograsm to calculate the sum of left trees
class Node:
  def __init__(self,key):
    self.key=key
    self.left=None
    self.right=None
def leftLeavesSumRec(root,isLeft,summ):
  if root is None:
    return
  if root.left is None and root.right is None and isLeft == True:
    print(root.key)
    sum[0]+=root.key
  leftLeavesSumRec(root.left,1,summ)
  leftLeavesSumRec(root.right,0,summ)
def leftLeavesSum(root):
  summ=[0]
  leftLeavesSumRec(root,0,summ)
  return summ[0]
root=Node(20)
root.left= Node(8)
root.right=Node(22)
root.left.left=Node(4)
root.left.right=Node(12)
root.left.right.left=Node(10)
root.left.right.right=Node(14)
print("Sum of left leaves is", leftLeavesSum(root))

4

TypeError: ignored